* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
}

/* Navbar */
#navbar ul {
  list-style: none;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1.6rem;
  position: relative;
}

#navbar ul li a {
  text-decoration: none;
  color: #333;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover {
  cursor: pointer;
  background-color: coral;
  color: #fff;
}

#navbar ul li:hover a {
  color: #fff;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 20rem;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background-color: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background-color: coral;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
}

#navbar ul li:hover ul li:hover span {
  background-color: chocolate;
}

